google-generativeai
streamlit
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai
streamlit_option_menu
langchain-community==0.0.28

#Additional
numpy
pandas
matplotlib
tensorflow
keras
scikit-learn
nltk
replicate
pillow
emoji
streamlit_option_menu
streamlit_extras
st_pages
transformers
python-dotenv
requests

soundfile
datasets
SentencePiece
sounddevice
accelerate
diffusers
huggingface-hub
safetensors
torch
torchvision
