torch
google-generativeai
streamlit
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai
streamlit_option_menu
langchain-community==0.0.28

#Additional
numpy==1.25.2
pandas~=1.5.2
matplotlib==3.7.1
tensorflow==2.15.0
keras==2.15.0
scikit-learn
nltk~=3.8.1
replicate~=0.25.1
pillow~=9.3.0
emoji~=2.10.1
streamlit_option_menu
streamlit_extras
st_pages
transformers~=4.39.3
python-dotenv
requests
soundfile~=0.12.1
datasets~=2.18.0
SentencePiece
sounddevice~=0.4.6
huggingfacehub
accelerate
diffusers-0.29.2
huggingface_hub-0.23.4
safetensors

